$fontPrimary: 'Montserrat', sans-serif;
$fontSecondary: 'Roboto Slab', serif;
$fontDecorative: 'Noto Serif', serif;
$cremeWhite: #f7f7f7;
$primary: #fed136;
$white: #fff;
$black: #000;
$gray: #222;
$lightGray: #737373;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-family: $fontPrimary;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

section {
  padding: 120px 0;
}

.section-heading {
  font-family: $fontPrimary;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  margin: 0 0 2rem;
}

.section-description {
  font-family: $fontDecorative;
  font-size: 1.6rem;
  font-style: italic;
  text-align: center;
  color: $lightGray;
}

.image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
  }
}

@media (max-width: 991px) {
  section {
    padding: 60px 0;
  }
  .image-container {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 30px 12px;
  }
  .image-container {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 360px) {
  .section-heading {
    font-size: 3.6rem;
  }
}